<ng-container *ngIf="userDetails$ | async as userDetails">
    <div class="container pt-5">
        <div class="row">
          <div class="col">
            <h2>Edit user details</h2>
          </div>
        </div>
        <form [formGroup]="form" class="container mb-3">
          <div class="row align-items-center">
            <div class="col-auto">
              <ng-container *ngIf="userDetails.base64Photo; else noPhotoTemplate">
                <img [src]="'data:image/png;base64, ' + userDetails.base64Photo" class="profile-photo">
              </ng-container>

              <ng-template #noPhotoTemplate>
                <div class="profile-photo bg-black"></div>
              </ng-template>
            </div>
            <div class="col">
              <button mat-raised-button color="primary" (click)="triggerWebcam(userDetails)">Upload profile picture</button>
            </div>
          </div>
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" readonly type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-10 col-lg-8">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Role</mat-label>
                    <input matInput formControlName="role" readonly type="text" />
                  </mat-form-field>
                </div>
              </div>
        </form>
    </div>
</ng-container>